
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-archive "></i> Historial de Consultas
        </div>

          <div class="form-group">
            <div class="col-md-4 searcht">
              <label for="name">Buscar por Cédula:</label>
              <div class="input-group">

                <input type="number" id="search" name="search" class="form-control" placeholder="Escriba la cédula.." [(ngModel)]="search" (ngModelChange)="dataPaginate($event)">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-primary" (click)="buscarMG()"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                </span>

              </div>

            </div>

            <div class="col-md-8">
              <div class="row space">
                <div class="col-md-3 searcht">
                  <label for="name">Fecha inicial</label>
                  <input name="FechaInicio" id="FechaInicio"  name="FechaInicio" [(ngModel)]="FechaInicio" type="date"  placeholder="date" class="form-control">
                </div>
                <div class="col-md-3 searcht">
                  <label for="name">Fecha final</label>
                  <input name="FechaFin" id="FechaFin"  name="FechaFin" [(ngModel)]="FechaFin" type="date"  placeholder="date" class="form-control">
                </div>
                <div class="col-xs-2 searcht">
                  <label for="name"><label for="name"></label></label>
                  <button type="button" name="button" id="button" class="btn btn-primary form-control" (click)="FiltroFecha()"><i class="icon-equalizer"></i>&nbsp;Filtrar</button>
                </div>
              </div>
            </div>
          </div>


          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Cédula</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Edad</th>
                  <th>Fecha</th>
                  <th>Lugar de Atencion</th>
                  <th>GAD</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="search == ''; else filtroMG">
                  <tr *ngFor="let item of historialMGPaginate">
                    <td>{{item.paciente.cedula}}</td>
                    <td>{{item.paciente.nombres}}</td>
                    <td>{{item.paciente.apellidos}}</td>
                    <td>{{item.paciente.edad}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.lugar_atencion}}</td>
                    <td>
                      <span *ngIf="item.paciente.gad != 1" class="badge badge-secondary">NO</span>
                      <span *ngIf="item.paciente.gad != 0" class="badge badge-success">SI</span>
                    </td>
                  <td>
                    <button type="button" class="btn btn-ghost-info botont"  (click)="DatosConsulta(item)"><i
                        class="fa fa-list-alt"></i>&nbsp;Datos Consulta</button>
                  </td>
                </tr>
                </ng-container>

                <ng-template #filtroMG>
                  <tr *ngFor="let item of historialMGPaginateFilter">
                    <td>{{item.paciente.cedula}}</td>
                    <td>{{item.paciente.nombres}}</td>
                    <td>{{item.paciente.apellidos}}</td>
                    <td>{{item.paciente.edad}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.lugar_atencion}}</td>
                    <td>
                      <span *ngIf="item.paciente.gad != 1" class="badge badge-secondary">NO</span>
                      <span *ngIf="item.paciente.gad != 0" class="badge badge-success">SI</span>
                    </td>
                  <td>
                    <button type="button" class="btn btn-ghost-info botont"  (click)="DatosConsulta(item)"><i
                        class="fa fa-list-alt"></i>&nbsp;Datos Consulta</button>
                  </td>
                </tr>
                </ng-template>
              </tbody>
            </table>
            <nav>
              <pagination *ngIf="search==''" [totalItems]="historialMG.length" (pageChanged)="pageChanged($event)"></pagination>
              <pagination *ngIf="search!=''" [totalItems]="historialMGFilter.length" (pageChanged)="pageChangedFiltro($event)"></pagination>
            </nav>
          </div>


      </div>
    </div>
    <!--/.col-->
  </div>

</div>

<div bsModal #DatosdeConsultas="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog   modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Datos de la consulta</h4>
        <button type="button" class="close" (click)="DatosdeConsultas.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-male"></i>
              <strong>{{NPaciente}}</strong>

              <div class="dere">
                <i class="fa fa-calendar"></i>
                <strong>{{Fecha}}</strong>
              </div>

            </div>

            <div class="card-body">

              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="inline-radios">Lugar de atención</label>
                  <input type="text" class="form-control" id="lugar_atencion" disabled name="lugar_atencion" [(ngModel)]="lugar_atencion">

                </div>

                <div class="form-group col-sm-4">
                  <label for="inline-radios">Condición de diagnóstico</label>
                  <input type="text" class="form-control" id="condicion_diagnostico" disabled name="condicion_diagnostico" [(ngModel)]="condicion_diagnostico">

                </div>

                <div class="form-group col-sm-4">
                  <label for="inline-radios">Tipo de atención</label>
                  <input type="text" class="form-control" id="tipo_atencion" disabled name="tipo_atencion" [(ngModel)]="tipo_atencion">

                </div>

              </div>

              <div class="row" >
                <div class="form-group col-sm-12">
                  <div class="form-group">
                    <label for="vat">Enfermedades</label>
                       <textarea id="enfermedades" name="enfermedades" disabled [(ngModel)]="enfermedades" rows="2" class="form-control"  required></textarea>

                  </div>
                  <div class="form-group">
                    <label for="vat">Antecedentes de la enfermedad</label>
                       <textarea id="antecedentes_enfermedad" disabled name="antecedentes_enfermedad" [(ngModel)]="antecedentes_enfermedad" rows="2" class="form-control"  required></textarea>

                  </div>
                  <div class="form-group">
                    <label for="vat">Motivo de la consulta</label>
                       <textarea id="motivo" name="motivo" rows="2" disabled [(ngModel)]="motivo" class="form-control"  required></textarea>

                  </div>


                  <div class="form-group " *ngIf="gad==1">
                    <label for="vat">{{diagno}} </label>
                       <textarea id="diagnostico" name="diagnostico" disabled [(ngModel)]="diagnostico" rows="2" class="form-control"  required></textarea>
                  </div>

                  <div class="form-group " *ngIf="gad==1">
                    <label for="vat">Plan terapéutico</label>
                       <textarea id="plan_terapeutico" name="plan_terapeutico" disabled rows="2" [(ngModel)]="plan_terapeutico" class="form-control" required></textarea>
                  </div>

                  <div class="form-group ">

                    <div class="col-md-9 col-form-label">
                      <div class="form-check form-check-inline mr-1">

                        <label class="form-check-label" for="inline-checkbox1"> <i class="fa fa-file-text-o"></i> {{certificado}}</label>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="DatosdeConsultas.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div *ngIf="spinnerConfig['fullScreen']">
  <ngx-spinner name='sample' [bdColor]="spinnerConfig['bdColor']" [size]="spinnerConfig['size']"
    [color]="spinnerConfig['color']" [type]="spinnerConfig['type']" [template]="spinnerConfig['template']"
    [showSpinner]="spinnerConfig['showSpinner']">
    <p style="color: white">{{loadingText}}</p>
  </ngx-spinner>

</div>
