<div class="animated fadeIn">
  <div class="row">

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-stethoscope"></i>
            <strong>Datos de la consulta </strong>
          </div>
          <div class="card-body">
            <form class="was-validated">
              <div class="form-group">
                <label for="company">Nombres</label>
                <input type="text" class="form-control" id="company" >
              </div>
              <div class="row">
                <div class="form-group col-sm-8">
                  <label for="city">Cédula</label>
                  <input type="text" class="form-control" id="city" placeholder="Enter your city">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Edad</label>
                  <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                </div>
              </div>
              <div class="form-group">
                <label for="vat">Motivo de la consulta</label>
                   <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Escriba el motivo de la consulta..." required></textarea>

              </div>
              <div class="form-group">
                <label for="vat">Motivo de la consulta</label>
                   <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Escriba el motivo de la consulta..." required></textarea>

              </div>


              <div class="form-group">
                <label class="form-col-form-label" for="inputError2">Input required</label>
                <input type="text" class="form-control" id="inputError2" required>
                <div class="valid-feedback">
                  Input is valid.
                </div>
                <div class="invalid-feedback">
                  Please provide a valid information.
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

  </div><!--/.row-->

</div>
