<div class="animated fadeIn">
  <div class="row">

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-stethoscope"></i>
            <strong>Datos de la consulta </strong>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="company">Nombres</label>
                <input type="text" class="form-control" disabled id="nombres"  name="nombres" [(ngModel)]="nombres">
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="city">Cédula</label>
                  <input type="text" class="form-control" disabled id="cedula"  name="cedula" [(ngModel)]="cedula">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Edad</label>
                  <input type="text" class="form-control" disabled id="edad"  name="edad" [(ngModel)]="edad">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">GAD</label>
                  <input type="text" class="form-control" disabled id="gadv"  name="gadv" [(ngModel)]="gadv">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="inline-radios" [class]="ClaseLugar" >Lugar de atención</label>
                  <div class="col-md-8 col-form-label">
                    <div class="form-check form-check-inline mr-3">
                      <input class="form-check-input" type="radio" name="lugar_atencion"  [(ngModel)]="lugar_atencion" id="lugar_atencion" value="Patronato" (click)="ClaseLugar=''">
                      <label class="form-check-label" for="inlineRadio1">Patronato</label>
                    </div>
                    <div class="form-check form-check-inline mr-3">
                      <input class="form-check-input" type="radio" name="lugar_atencion"  [(ngModel)]="lugar_atencion" id="lugar_atencion" value="Comunidad" (click)="ClaseLugar=''">
                      <label class="form-check-label" for="inlineRadio2">Comunidad</label>
                    </div>
                    <div class="form-check form-check-inline ">
                      <input class="form-check-input" type="radio" name="lugar_atencion"  [(ngModel)]="lugar_atencion" id="lugar_atencion" value="Domicilio" (click)="ClaseLugar=''">
                      <label class="form-check-label" for="inlineRadio3">Domicilio</label>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-4">
                  <label for="inline-radios" [class]="ClaseTipo">Tipo de atención</label>
                  <div class="col-md-8 col-form-label">
                    <div class="form-check form-check-inline mr-2" id="inline-radios">
                      <input class="form-check-input" type="radio" name="tipo_atencion"   [(ngModel)]="tipo_atencion" id="tipo_atencion" value="Prevención" (click)="ClaseTipo=''">
                      <label class="form-check-label" for="inlineRadio1">Prevención</label>
                    </div>
                    <div class="form-check form-check-inline mr-2">
                      <input class="form-check-input" type="radio" name="tipo_atencion"   [(ngModel)]="tipo_atencion" id="tipo_atencion" value="Primera" (click)="ClaseTipo=''">
                      <label class="form-check-label" for="inlineRadio2">Primera</label>
                    </div>
                    <div class="form-check form-check-inline mr-2">
                      <input class="form-check-input" type="radio" name="tipo_atencion"   [(ngModel)]="tipo_atencion" id="tipo_atencion" value="Subsecuente" (click)="ClaseTipo=''">
                      <label class="form-check-label" for="inlineRadio3">Subsecuente</label>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-4" *ngIf="gad==1">
                  <label for="inline-radios" [class]="ClaseCondicion">Condición de diagnóstico</label>
                  <div class="col-md-8 col-form-label">
                    <div class="form-check form-check-inline mr-3" id="inline-radios">
                      <input class="form-check-input" type="radio" name="presuntivo" id="condicion_diagnostico"  [(ngModel)]="condicion_diagnostico" value="Presuntivo" (click)="funcionPreventivo()">
                      <label class="form-check-label" for="inlineRadio1">Presuntivo</label>
                    </div>
                    <div class="form-check form-check-inline mr-3">
                      <input class="form-check-input" type="radio" name="presuntivo" id="condicion_diagnostico"  [(ngModel)]="condicion_diagnostico" value="Definitivo" (click)="funcionDefinitivo()">
                      <label class="form-check-label" for="inlineRadio2">Definitivo</label>
                    </div>


                  </div>
                </div>
              </div>
              <div class="row">



                <div class="form-group col-sm-8">
                  <label for="company" [class]="ClaseEnfermedad" >Enfermedad</label>
                  <div class="input-group">
                    <div class="form-control auto">
                      <ng-autocomplete
                        [data]="data"
                        [searchKeyword]="enferme"
                        placeholder="Escriba la enfermedad"
                        (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)'
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate"
                        paramName="valor"
                         payloadPropName="valor"
                         name="NuevaEnfermedad"
                         [(ngModel)]="NuevaEnfermedad"
                        >
                      </ng-autocomplete>

                      <ng-template #itemTemplate let-item>
                      <a [innerHTML]="item.name"></a>
                      </ng-template>

                      <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="salida"></div>
                      </ng-template>
                    </div>
                    <button type="submit" class="btn btn-lg btn-outline-info btex" (click)="IngresarEnfermedad()" ><i class="fa fa-heartbeat spa"></i>Agregar enfermedad</button>
                  </div>

                </div>


              </div>

              <div class="form-group">
                <label for="vat">Motivo de la consulta</label>
                   <textarea  id="motivo" name="motivo" rows="3" [(ngModel)]="motivo" [class]="ClaseMotivo" (click)="ClaseMotivo='form-control form-input'" placeholder="Escriba el motivo de la consulta..." required></textarea>

              </div>
              <div class="form-group">
                <label for="vat">Antecedentes de la enfermedad</label>
                   <textarea  id="antecedentes_enfermedad" name="antecedentes_enfermedad" [(ngModel)]="antecedentes_enfermedad" rows="3" [class]="ClaseAntecedentes" (click)="ClaseAntecedentes='form-control form-input'" placeholder="Escriba el antecedente de la enfermedad..." required></textarea>

              </div>

              <div class="form-group " *ngIf="gad==1">
                <label for="vat">{{tipo}}</label>
                   <textarea id="diagnostico" name="diagnostico" [(ngModel)]="diagnostico" rows="3" [class]="ClaseDiagnostico" (click)="ClaseDiagnostico='form-control form-input'" placeholder="Escriba el diagnostico..." required></textarea>

              </div>

              <div class="form-group " *ngIf="gad==1">
                <label for="vat">Plan terapéutico</label>
                   <textarea  id="plan_terapeutico" name="plan_terapeutico" [(ngModel)]="plan_terapeutico" rows="3" [class]="ClasePlan" (click)="ClasePlan='form-control form-input'" placeholder="Escriba el plan terapéutico..." required></textarea>
              </div>
              <div class="form-group">
                <label for="vat">Receta</label>
                   <textarea  id="receta" name="receta" rows="3" [(ngModel)]="receta" [class]="ClaseReceta" (click)="ClaseReceta='form-control form-input'" placeholder="Escriba la receta para el paciente..." required></textarea>

              </div>

              <div class="form-group ">

                <div class="col-md-9 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input"  [(ngModel)]="certificado" type="checkbox" id="certificado" name="certificado" value="1">
                    <label class="form-check-label" for="inline-checkbox1">Se entregó certificado</label>
                  </div>

                </div>
              </div>


                <button type="submit" class="btn btn-lg btn-primary boto" (click)="notificacion()">Registrar Consulta</button>

            </form>
          </div>
        </div>
      </div>

  </div><!--/.row-->

</div>
<div *ngIf="spinnerConfig['fullScreen']">
  <ngx-spinner name='sample' [bdColor]="spinnerConfig['bdColor']" [size]="spinnerConfig['size']"
    [color]="spinnerConfig['color']" [type]="spinnerConfig['type']" [template]="spinnerConfig['template']"
    [showSpinner]="spinnerConfig['showSpinner']">
    <p style="color: white">{{loadingText}}</p>
  </ngx-spinner>

</div>
