<div class="animated fadeIn">
  <div class="row">

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-stethoscope"></i>
            <strong>Datos de la consulta </strong>
          </div>
          <div class="card-body">
            <form action="#" id="form" name="form">
              <div class="form-group">
                <label for="company">Nombres</label>
                <input type="text" class="form-control" id="nombres" name="nombres" >
              </div>
              <div class="row">
                <div class="form-group col-sm-8">
                  <label for="city">Cédula</label>
                  <input type="text" class="form-control" id="cedula" name="cedula" >
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Edad</label>
                  <input type="text" class="form-control" id="edad" name="edad" >
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-8">
                  <label for="inline-radios">Lugar de atención</label>
                  <div class="col-md-8 col-form-label">
                    <div class="form-check form-check-inline mr-3">
                      <input class="form-check-input" type="radio" name="lugar_atencion" [(ngModel)]="lugar_atencion" id="lugar_atencion" value="Patronato">
                      <label class="form-check-label" for="inlineRadio1">Patronato</label>
                    </div>
                    <div class="form-check form-check-inline mr-3">
                      <input class="form-check-input" type="radio" name="lugar_atencion" [(ngModel)]="lugar_atencion" id="lugar_atencion" value="Comunidad">
                      <label class="form-check-label" for="inlineRadio2">Comunidad</label>
                    </div>
                    <div class="form-check form-check-inline ">
                      <input class="form-check-input" type="radio" name="lugar_atencion" [(ngModel)]="lugar_atencion" id="lugar_atencion" value="Domicilio">
                      <label class="form-check-label" for="inlineRadio3">Domicilio</label>
                    </div>
                  </div>
                </div>

                <div class="form-group col-sm-4">
                  <label for="inline-radios">Condición de diagnostico</label>
                  <div class="col-md-4 col-form-label">
                    <div class="form-check form-check-inline mr-5" id="inline-radios">
                      <input class="form-check-input" type="radio" name="presuntivo" id="condicion_diagnostico" [(ngModel)]="condicion_diagnostico" value="Presuntivo" (click)="funcionPreventivo()">
                      <label class="form-check-label" for="inlineRadio1">Presuntivo</label>
                    </div>
                    <div class="form-check form-check-inline mr-5">
                      <input class="form-check-input" type="radio" name="presuntivo" id="condicion_diagnostico" [(ngModel)]="condicion_diagnostico" value="Definitivo" (click)="funcionDefinitivo()">
                      <label class="form-check-label" for="inlineRadio2">Definitivo</label>
                    </div>


                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="inline-radios">Tipo de atención</label>
                  <div class="col-md-12 col-form-label">
                    <div class="form-check form-check-inline mr-3" id="inline-radios">
                      <input class="form-check-input" type="radio" name="tipo_atencion"  [(ngModel)]="tipo_atencion" id="tipo_atencion" value="Prevención">
                      <label class="form-check-label" for="inlineRadio1">Prevención</label>
                    </div>
                    <div class="form-check form-check-inline mr-3">
                      <input class="form-check-input" type="radio" name="tipo_atencion"  [(ngModel)]="tipo_atencion" id="tipo_atencion" value="Primera">
                      <label class="form-check-label" for="inlineRadio2">Primera</label>
                    </div>
                    <div class="form-check form-check-inline mr-3">
                      <input class="form-check-input" type="radio" name="tipo_atencion"  [(ngModel)]="tipo_atencion" id="tipo_atencion" value="Subsecuente">
                      <label class="form-check-label" for="inlineRadio3">Subsecuente</label>
                    </div>
                  </div>
                </div>


                <div class="form-group col-sm-6">
                  <label for="company">Enfermedad</label>
                  <div class="input-group">
                    <input type="" class="form-control" id="enfermedad" name="enfermedad" [(ngModel)]="enfermedad" required>
                    <span class="input-group-append">
                      <button type="button" class="btn btn-primary">Agregar</button>
                    </span>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <label for="vat">Motivo de la consulta</label>
                   <textarea id="motivo" name="motivo" rows="4" class="form-control" placeholder="Escriba el motivo de la consulta..." required></textarea>

              </div>
              <div class="form-group">
                <label for="vat">Antecedentes de la enfermedad</label>
                   <textarea id="antecedentes_enfermedad" name="antecedentes_enfermedad" rows="4" class="form-control" placeholder="Escriba el antecedente de la enfermedad..." required></textarea>

              </div>
              <div class="form-group " *ngIf="presun==true">
                <label for="vat">Diagnostico presuntivo</label>
                   <textarea id="diagnostico_presuntivo" name="diagnostico_presuntivo" rows="4" class="form-control" placeholder="Escriba el diagnostico presuntivo..." required></textarea>

              </div>
              <div class="form-group " *ngIf="defini==true">
                <label for="vat">Diagnostico definitivo</label>
                   <textarea id="diagnostico_definitivo" name="diagnostico_definitivo" rows="4" class="form-control" placeholder="Escriba el diagnostico definitivo..." required></textarea>

              </div>

              <div class="form-group ">

                <div class="col-md-9 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="certificado" name="certificado" value="Si">
                    <label class="form-check-label" for="inline-checkbox1">Se entregó certificado</label>
                  </div>

                </div>
              </div>


                <button type="submit" class="btn btn-lg btn-primary boto">Registrar Consulta</button>

            </form>
          </div>
        </div>
      </div>

  </div><!--/.row-->

</div>
