.botont{
  padding: 2px 6px !important;
}
tr{
  text-align: center;
}
.table-titulo{
  text-align: start;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.searcht{
  float: right !important;
  padding-right: 22px;
  padding-top: 30px;
}
.space{
  padding-left: 20px;
}
.collaps{
  float: right !important;
}
