<div class="animated fadeIn">


  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-stethoscope "></i> Citas de Medicina General

          <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsedMG = !isCollapsedMG"
          [attr.aria-expanded]="!isCollapsedMG" aria-controls="collapseBasic"><i
            class="fa fa-chevron-down"></i>&nbsp;</button>
        </div>

        <div id="collapseBasic" [collapse]="isCollapsedMG" [isAnimated]="true">
        <div class="form-group">
          <div class="col-md-4 searcht">
            <div class="input-group"> 
              <input type="text" id="searchMG" name="searchMG" class="form-control" placeholder="Escriba la cédula.." [(ngModel)]="searchMG" (ngModelChange)="dataPaginateMG($event)">
              <span class="input-group-prepend">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
              </span>

            </div>
          </div>
        </div>

        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Nombres</th>
                <th>Cédula</th>
                <th>Hora</th>
                <th>Historial</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="searchMG == ''; else filtroMG">
                <tr *ngFor="let item of citasMGPaginate" >
                  <td class="table-titulo">{{item.nombres}}</td>
                  <td>{{item.cedula}}</td>
                  <td>{{item.turno.hora}}</td>
                  <td>
                    <span *ngIf="item.estado==1"  class="badge badge-success">Registrado</span>
                    <span *ngIf="item.estado==0"class="badge badge-secondary">Sin registro</span>
                  </td>
                  <td>
                    
                    <button *ngIf="item.estado==1" type="button" class="btn btn-ghost-success botont"  (click)="HistoriaPaciente()"><i
                        class="fa fa-eye"></i>&nbsp;Historia Clinica</button>
                    <button *ngIf="item.estado==0" type="button" class="btn btn-ghost-primary  botont"  (click)="CrearHistoriaClinica()"><i
                          class="fa fa-plus-square" ></i>&nbsp;Crear Historia Clinica</button>
                    <button type="button" class="btn btn-ghost-danger botont" (click)="notificacion(item.id_cita)"><i
                        class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                  </td>
                </tr>
              </ng-container>
              
              <ng-template #filtroMG>
                <tr *ngFor="let item of citasMGPaginateFilter" >
                  <td class="table-titulo">{{item.nombres}}</td>
                  <td>{{item.cedula}}</td>
                  <td>{{item.turno.hora}}</td>
                  <td>
                    <span *ngIf="item.estado==1"  class="badge badge-success">Registrado</span>
                    <span *ngIf="item.estado==0"class="badge badge-secondary">Sin registro</span>
                  </td>
                  <td>
                   
                    <button *ngIf="item.estado==1" type="button" class="btn btn-ghost-success botont"  (click)="HistoriaPaciente()"><i
                        class="fa fa-eye"></i>&nbsp;Historia Clinica</button>
                    <button *ngIf="item.estado==0" type="button" class="btn btn-ghost-primary  botont"  (click)="CrearHistoriaClinica()"><i
                          class="fa fa-plus-square" ></i>&nbsp;Crear Historia Clinica</button>
                    <button type="button" class="btn btn-ghost-danger botont" (click)="notificacion(item.id_cita)"><i
                        class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <nav>
            <pagination *ngIf="searchMG==''" [totalItems]="citasMG.length" (pageChanged)="pageChangedMG($event)"></pagination>
            <pagination *ngIf="searchMG!=''" [totalItems]="citasMGFilter.length" (pageChanged)="pageChangedFiltroMG($event)"></pagination>
          </nav>
        </div>
       </div>
      </div>
    </div>
    <!--/.col-->
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-wheelchair"></i> Citas de Rehabilitación física

          <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsedRF = !isCollapsedRF"
          [attr.aria-expanded]="!isCollapsedRF" aria-controls="collapseBasic"><i
            class="fa fa-chevron-down"></i>&nbsp;</button>
        </div>

        <div id="collapseBasic" [collapse]="isCollapsedRF" [isAnimated]="true">
        <div class="form-group">
          <div class="col-md-4 searcht">
            <div class="input-group">
              <input type="text" id="searchRF" name="searchRF" class="form-control" placeholder="Escriba la cédula.." [(ngModel)]="searchRF" (ngModelChange)="dataPaginateRF($event)">
              <span class="input-group-prepend">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
              </span>

            </div>
          </div>
        </div>

        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Nombres</th>
                <th>Cédula</th>
                <th>Hora</th>
                <th>Historial</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="searchRF == ''; else filtroRF">
              <tr *ngFor="let item of citasRFPaginate" >
                <td class="table-titulo">{{item.nombres}}</td>
                <td>{{item.cedula}}</td>
                <td>{{item.turno.hora}}</td>
                <td>
                  <span *ngIf="item.estado==1"  class="badge badge-success">Registrado</span>
                  <span *ngIf="item.estado==0"class="badge badge-secondary">Sin registro</span>
                </td>
                <td>
                  
                <button *ngIf="item.estado==1" type="button" class="btn btn-ghost-success botont"  (click)="HistoriaPaciente()"><i
                    class="fa fa-eye"></i>&nbsp;Historia Clinica</button>
                <button *ngIf="item.estado==0" type="button" class="btn btn-ghost-primary  botont"  (click)="CrearHistoriaClinica()"><i
                      class="fa fa-plus-square" ></i>&nbsp;Crear Historia Clinica</button>
                <button type="button" class="btn btn-ghost-danger botont" (click)="notificacion(item.id_cita)"><i
                    class="fa fa-trash-o"></i>&nbsp;Eliminar</button>

                </td>
              </tr>
            </ng-container>
      
            <ng-template #filtroRF>
              <tr *ngFor="let item of citasRFPaginateFilter" >
                <td class="table-titulo">{{item.nombres}}</td>
                <td>{{item.cedula}}</td>
                <td>{{item.turno.hora}}</td>
                <td>
                  <span *ngIf="item.estado==1"  class="badge badge-success">Registrado</span>
                  <span *ngIf="item.estado==0"class="badge badge-secondary">Sin registro</span>
                </td>
                <td>
                  
                <button *ngIf="item.estado==1" type="button" class="btn btn-ghost-success botont"  (click)="HistoriaPaciente()"><i
                    class="fa fa-eye"></i>&nbsp;Historia Clinica</button>
                <button *ngIf="item.estado==0" type="button" class="btn btn-ghost-primary  botont"  (click)="CrearHistoriaClinica()"><i
                      class="fa fa-plus-square" ></i>&nbsp;Crear Historia Clinica</button>
                <button type="button" class="btn btn-ghost-danger botont" (click)="notificacion(item.id_cita)"><i
                    class="fa fa-trash-o"></i>&nbsp;Eliminar</button>

                </td>
              </tr>
            </ng-template>
            </tbody>
          </table>
          <nav>
            <pagination *ngIf="searchRF==''" [totalItems]="citasRF.length" (pageChanged)="pageChanged($event)"></pagination>
            <pagination *ngIf="searchRF!=''" [totalItems]="citasRFFilter.length" (pageChanged)="pageChangedFiltro($event)"></pagination>
          </nav>
        </div>
       </div>
      </div>
    </div>
    <!--/.col-->
  </div>

</div>
