<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                
                    <div class="card-header">
                        <i class="icon-user"></i>
                            <strong>Datos de Afiliación</strong>
                            <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed = !isCollapsed"
                            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"><i
                            class="fa fa-chevron-down"></i>&nbsp;</button>
                    </div>

                        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
                            <div class="card-body">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="text-input">Apellidos</label>
                                        <div class="col-md-9">
                                        <input type="text" id="text-input"  autocomplete="off" [(ngModel)]="apellidos" name="apellidos" class="form-control" placeholder="Ingrese los apellidos">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="text-input">Nombres</label>
                                        <div class="col-md-9">
                                        <input type="text" id="text-input"  [(ngModel)]="nombres"  autocomplete="off" name="nombres" class="form-control" placeholder="Ingrese los nombres">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="text-input">Cédula</label>
                                        <div class="col-md-9">
                                        <input type="number" id="text-input" class="form-control form-input select-number " autocomplete="off" [(ngModel)]="cedula" name="cedula" class="form-control" placeholder="Ingrese la cédula">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="text-input">Edad</label>
                                        <div class="col-md-9">
                                        <input type="text" id="text-input"  autocomplete="off"  [(ngModel)]="edad" name="edad" class="form-control" placeholder="Ingrese la edad">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="select1">Sexo</label>
                                        <div class="col-md-9">
                                        <select id="select1" name="select1" class="form-control">
                                            <option label="--Seleccione una opción--"></option>
                                            <option value="1">Hombre</option>
                                            <option value="0">Mujer</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="text-input">Ocupación</label>
                                        <div class="col-md-9">
                                        <input type="text" id="text-input"  autocomplete="off"  [(ngModel)]="ocupacion" name="ocupacion" class="form-control" placeholder="Ingrese la ocupación">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="text-input">Lugar de residencia</label>
                                        <div class="col-md-9">
                                        <input type="text" id="text-input"  autocomplete="off"  [(ngModel)]="Lresidencia" name="Lresidencia" class="form-control" placeholder="Ingrese el lugar de residencia">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="text-input">Lugar de procedencia</label>
                                        <div class="col-md-9">
                                        <input type="text" id="text-input"  autocomplete="off"  [(ngModel)]="Lprocedencia" name="Lprocedencia" class="form-control" placeholder="Ingrese el lugar de procedencia">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="select1">Estado Civil</label>
                                        <div class="col-md-9">
                                        <select id="select1" name="select1" class="form-control">
                                            <option label="--Seleccione una opción--"></option>
                                            <option value="1">Soltero(a)</option>
                                            <option value="2">Casado(a)</option>
                                            <option value="3">Viudo(a)</option>
                                            <option value="4">Divorciado(a)</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="select1">Raza</label>
                                        <div class="col-md-9">
                                        <select id="select1" name="select1" class="form-control">
                                            <option label="--Seleccione una opción--"></option>
                                            <option value="1">Mestizos</option>
                                            <option value="2">Blancos</option>
                                            <option value="3">Montubios</option>
                                            <option value="4">Afroecuatorianos</option>
                                            <option value="5">Indígenas</option>
                                            <option value="6">Otros</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="select1">Religión</label>
                                        <div class="col-md-9">
                                        <select id="select1" name="select1" class="form-control">
                                            <option label="--Seleccione una opción--"></option>
                                            <option value="1">Cristiana Católica</option>
                                            <option value="2">Cristiana Evangélica</option>
                                            <option value="3">Testigos de Jehová</option>
                                            <option value="4">Ateos</option>
                                            <option value="5">Agnósticos</option>
                                            <option value="6">Otros</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="date-input">Fecha de nacimiento</label>
                                        <div class="col-md-9">
                                        <input class="form-control" id="date-input" type="date" autocomplete="off"  [(ngModel)]="fechanacimiento" name="fechanacimiento" placeholder="Seleccione la fecha de nacimiento">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="select1">Nivel de instrucción</label>
                                        <div class="col-md-9">
                                        <select id="select1" name="select1" class="form-control">
                                            <option label="--Seleccione una opción--"></option>
                                            <option value="1">Educación Básica</option>
                                            <option value="2">Bachillerato</option>
                                            <option value="3">Técnico Superior</option>
                                            <option value="4">Tercer Nivel</option>
                                            <option value="5">Postgrado</option>
                                            <option value="6">Ninguno</option>
                                        </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
            </div>

            <div class="card">
                
                <div class="card-header">
                    <i class="fa fa-asterisk"></i>
                        <strong>Antecedentes Patológicos personales</strong>
                        <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed2 = !isCollapsed2"
                        [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic"><i
                        class="fa fa-chevron-down"></i>&nbsp;</button>
                </div>

                    <div id="collapseBasic" [collapse]="isCollapsed2" [isAnimated]="true">
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="inline-radios">Niñez</label>
                                    <div class="col-md-9 col-form-label">
                                      <div class="form-check form-check-inline mr-1" id="inline-radios">
                                        <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="option1" (click)="funcionVer()">
                                        <label class="form-check-label" for="inlineRadio1">Si</label>
                                      </div>
                                      <div class="form-check form-check-inline mr-1">
                                        <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option2" (click)="funcionOcultar()">
                                        <label class="form-check-label" for="inlineRadio2">No</label>
                                      </div>
                                        <div id="collapseBasic" *ngIf="Ver==false && Ocultar==false">
                                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
                                        </div>
                                    </div>
                                  </div>
                            </form>
                        </div>
                    </div>
            </div>

        </div>
        
    </div><!--/.row-->

</div>
