<div class="app-body" >
  <main class="main d-flex align-items-center " style="background-image: url('../../../assets/img/juninfondo.jpeg'); background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <div class="text-center">
                    <img src="../../../assets/img/logo-patro.png" style="max-width: 200px;">
                 </div>
                    <h4 class="text-center "  style="padding-bottom: 20px; font-weight: bolder; color: #5c6873;">Patronato Municipal de Junín</h4>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="correo" name="correo" placeholder="Correo" autocomplete="username" required>
                  </div>

                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" [(ngModel)]="pass" name="password" placeholder="Contraseña" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4"  (click)="IniciarSesion()">Iniciar sesión</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Regresar al inicio</button>
                    </div>
                  </div>

                </form>
              </div>
              <span style="padding-left: 20px; font-size: small;"><a href="#">Patronato Municipal Junín</a> &copy; 2021 GAD Junín.</span>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="border: white 8px inset;" >
              <div class="card-body text-center" style="padding-top: 0px;">
                <div>
                  <img src="../../../assets/img/LogoJunin.png"  style="max-width: 200px;">
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
