<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-archive "></i> Historia Cínica
        </div>

        <div class="form-group">
          <div class="col-md-4 searcht">
            <div class="input-group">
              <input type="text" id="search" name="search" class="form-control" placeholder="Escriba la cédula.."
                [(ngModel)]="search" (ngModelChange)="dataPaginate($event)">
              <span class="input-group-prepend">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
              </span>

            </div>

          </div>

        </div>
 

        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Cédula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th>Edad</th>
                <th>Residencia</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="search == ''; else filtro2">
                <tr *ngFor="let item of pacientesMGPaginate ">
                  <td>{{item.cedula}}</td>
                  <td>{{item.nombres}}</td>
                  <td>{{item.apellidos}}</td>
                  <td>{{item.sexo}}</td>
                  <td>{{item.edad}}</td>
                  <td>{{item.residencia}}</td>
                  <td>
                    <button type="button" class="btn btn-ghost-info botont" data-toggle="modal" (click)="DatosPaciente(item.id_paciente)"><i
                          class="fa fa-male"></i>&nbsp;Datos Paciente</button>
                    <button type="button" class="btn btn-ghost-success botont"><i
                        class="fa fa-eye"></i>&nbsp;Consultas</button>
                    <button type="button" class="btn btn-ghost-danger botont"><i
                        class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                  </td>
                </tr>
              </ng-container>
              
            <ng-template #filtro2>
              <tr  *ngFor="let item of pacientesMGPaginateFilter">
               
                <td>{{item.cedula}}</td>
                <td>{{item.nombres}}</td>
                <td>{{item.apellidos}}</td>
                <td>{{item.sexo}}</td>
                <td>{{item.edad}}</td>
                <td>{{item.residencia}}</td>
                <td>
                  <button type="button" class="btn btn-ghost-info botont" data-toggle="modal" (click)="DatosPaciente(item.id_paciente)"><i
                    class="fa fa-male"></i>&nbsp;Datos Paciente</button>
                  <button type="button" class="btn btn-ghost-success botont"><i
                      class="fa fa-eye"></i>&nbsp;Consultas</button>
                  <button type="button" class="btn btn-ghost-danger botont"><i
                      class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                </td>
              </tr>
            </ng-template>
            </tbody>
          </table>
          <nav>
            <pagination *ngIf="search==''" [totalItems]="pacientesMG.length" (pageChanged)="pageChanged($event)"></pagination>
            <pagination *ngIf="search!=''" [totalItems]="pacientesMGFilter.length" (pageChanged)="pageChangedFiltro($event,pacientesMG)"></pagination>
          </nav>
        </div>


      </div>
    </div>
    <!--/.col-->
  </div>

</div>

<div  bsModal #Principal="bs-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Informacion del Paciente</h4>
        <button type="button" class="close" (click)="Principal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div >

        <div class="col-md-12 mb-4" >
          <!-- Nav tabs -->
          <tabset >
            <tab class="modal-body">
              <ng-template tabHeading><i class="icon-user"></i> Datos de Afiliación</ng-template>

              <div class="card">

                <div class="card-header">
                    <i class="icon-user-follow"></i>
                        <strong>Datos de Afiliación</strong>
                        <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"><i
                        class="fa fa-chevron-down"></i>&nbsp;</button>
                </div>

                    <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="text-input">Apellidos</label>
                                        <input  autocomplete="off" required type="text" id="apellidos"   [(ngModel)]="apellidos" name="apellidos" class="form-control" placeholder="Ingrese los apellidos" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="text-input">Nombres</label>
                                        <input autocomplete="off" required type="text" id="apellidos"  [(ngModel)]="nombres"   name="nombres" class="form-control" placeholder="Ingrese los nombres" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-8">
                                        <label for="text-input">Cédula</label>
                                        <div class="input-group">
                                          <input autocomplete="off" required type="text" id="apellidos"  [(ngModel)]="cedula"   name="cedula" class="form-control" placeholder="Ingrese la cedula" disabled>

                                        </div>

                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="text-input">Edad</label>
                                        <input required type="number" id="edad"  autocomplete="off"  [(ngModel)]="edad" name="edad" class="form-control" placeholder="Ingrese la edad" disabled>
                                    </div>
                                  </div><!--/.row-->
                                  <div class="row">
                                    <div class="form-group col-sm-8">
                                        <label for="text-input">Ocupación</label>
                                        <input required type="text" id="text-input"  autocomplete="off"  [(ngModel)]="ocupacion" name="ocupacion" class="form-control" placeholder="Ingrese la ocupación" disabled>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="select1">Sexo</label>
                                        <input autocomplete="off" required type="text" id="sexo"  [(ngModel)]="sexo"   name="sexo" class="form-control" placeholder="Ingrese el sexo" disabled>


                                    </div>
                                  </div><!--/.row-->
                                  <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="text-input">Lugar de residencia</label>
                                        <input required type="text" id="text-input"  autocomplete="off"  [(ngModel)]="Lresidencia" name="Lresidencia" class="form-control" placeholder="Ingrese el lugar de residencia" disabled>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="text-input">Lugar de procedencia</label>
                                        <input required type="text" id="text-input"  autocomplete="off"  [(ngModel)]="Lprocedencia" name="Lprocedencia" class="form-control" placeholder="Ingrese el lugar de procedencia" disabled>
                                    </div>
                                  </div><!--/.row-->
                                  <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="date-input">Fecha de nacimiento</label>
                                        <input required class="form-control" id="date-input" type="date" autocomplete="off"  [(ngModel)]="fechanacimiento" name="fechanacimiento" placeholder="Seleccione la fecha de nacimiento" disabled>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="raza">Raza</label>
                                        <input autocomplete="off" required type="text" id="raza"  [(ngModel)]="raza"   name="raza" class="form-control" placeholder="Ingrese la raza" disabled>

                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="religion">Religión</label>
                                        <input autocomplete="off" required type="text" id="religion"  [(ngModel)]="religion"   name="religion" class="form-control" placeholder="Ingrese la religion" disabled>


                                    </div>
                                  </div><!--/.row-->
                                  <div class="row">
                                    <div class="form-group col-sm-8">
                                        <label for="nivel_instruccion">Nivel de instrucción</label>
                                        <input autocomplete="off" required type="text" id="nivel_instruccion"  [(ngModel)]="nivel_instruccion"   name="nivel_instruccion" class="form-control" placeholder="Ingrese el nivel de instruccion" disabled>


                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="estado_civil">Estado Civil</label>
                                        <input autocomplete="off" required type="text" id="estado_civil"  [(ngModel)]="estado_civil"   name="estado_civil" class="form-control" placeholder="Ingrese el estado civil" disabled>


                                    </div>
                                  </div><!--/.row-->
                            </form>
                        </div>
                    </div>
              </div>

              <div class="card">

                <div class="card-header">
                    <i class="icon-user"></i>
                        <strong>Hábitos Personales</strong>
                        <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed4 = !isCollapsed4"
                        [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseBasic"><i
                        class="fa fa-chevron-down"></i>&nbsp;</button>
                </div>

                    <div id="collapseBasic" [collapse]="isCollapsed4" [isAnimated]="true">
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Alcohol</label>

                                        <div>
                                            <textarea autocomplete="off" required [(ngModel)]="alcoholT" id="alcoholT" name="alcoholT" rows="2" class="form-control" placeholder="Descripción del hábito.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Tabaco</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="tabacoT" id="tabacoT" name="tabacoT" rows="2" class="form-control" placeholder="Descripción del hábito.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Drogas</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="drogasT" id="drogasT" name="drogasT" rows="2" class="form-control" placeholder="Descripción del hábito.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Alimentación</label>

                                        <div>
                                            <textarea autocomplete="off" required [(ngModel)]="alimentacionT" id="alimentacionT" name="alimentacionT" rows="2" class="form-control" placeholder="Descripción del hábito.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Diuresis</label>

                                        <div>
                                            <textarea autocomplete="off" required [(ngModel)]="diuresisT" id="diuresisT" name="diuresisT" rows="2" class="form-control" placeholder="Descripción del hábito.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Somnia</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="somniaT" id="somniaT" name="somniaT" rows="2" class="form-control" placeholder="Descripción del hábito.." disabled></textarea>
                                        </div>
                                    </div>
                                </div><!--/.row-->

                            </form>
                        </div>
                    </div>
              </div>
            </tab>
            <tab class="modal-body">
              <ng-template tabHeading><i class="icon-note"></i> Antecedentes Patológicos </ng-template>
              <div class="card">

                <div class="card-header">
                    <i class="icon-book-open"></i>
                        <strong>Antecedentes Patológicos Personales</strong>
                        <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed2 = !isCollapsed2"
                        [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic"><i
                        class="fa fa-chevron-down"></i>&nbsp;</button>
                </div>

                    <div id="collapseBasic" [collapse]="isCollapsed2" [isAnimated]="true">
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                  <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label >Niñez</label>

                                        <div>
                                            <textarea autocomplete="off" required [(ngModel)]="ninezT" id="ninezT" name="ninezT" rows="2" class="form-control" placeholder="Descripción de los antecedentes patológicos.." disabled></textarea>
                                        </div>
                                        <br>
                                        <label for="inline-radios">Adolescencia</label>

                                        <div>
                                            <textarea autocomplete="off" required [(ngModel)]="adolescenciaT" id="adolescenciaT" name="adolescenciaT" rows="2" class="form-control" placeholder="Descripción de los antecedentes patológicos.." disabled></textarea>
                                        </div>
                                        <br>
                                        <label for="inline-radios">Adultez</label>

                                        <div>
                                            <textarea autocomplete="off" required  [(ngModel)]="adultezT" id="adultezT" name="adultezT" rows="2" class="form-control" placeholder="Descripción de los antecedentes patológicos.." disabled></textarea>
                                        </div>
                                        <br>
                                        <label for="inline-radios">Antecedentes quirúrgicos</label>

                                        <div>
                                            <textarea autocomplete="off" required [(ngModel)]="quirurgicosT" id="quirurgicosT" name="quirurgicosT" rows="2" class="form-control" placeholder="Descripción de los antecedentes quirúrgicos.." disabled></textarea>
                                        </div>
                                        <br>
                                        <label for="inline-radios">Antecedentes alérgicos</label>

                                        <div>
                                            <textarea autocomplete="off" required [(ngModel)]="alergicosT" id="alergicosT" name="alergicosT" rows="2" class="form-control" placeholder="Descripción de los antecedentes alérgicos.." disabled></textarea>
                                        </div>
                                        <br>
                                        <label for="inline-radios">Antecedentes traumatológicos</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="traumatologicosT" id="traumatologicosT" name="traumatologicosT" rows="2" class="form-control" placeholder="Descripción de los antecedentes traumatológicos.." disabled></textarea>
                                        </div>
                                    </div>
                                  </div><!--/.row-->
                                <div *ngIf="sexo=='Mujer'">
                                    <label for="">Antecedentes ginecos obstétricos</label>

                                    <div>
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label for="text-input">FUM</label>
                                                <input  autocomplete="off" required type="text" id="fum" class="form-control form-input select-number " autocomplete="off" [(ngModel)]="fum" name="fum" class="form-control" placeholder="Ingrese el FUM" disabled>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="text-input">FPP</label>
                                                <input autocomplete="off" required type="text" id="fpp" class="form-control form-input select-number " autocomplete="off" [(ngModel)]="fpp" name="fpp" class="form-control" placeholder="Ingrese el FPP" disabled >
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="text-input">Edad gestacional (semanas) </label>
                                                <input autocomplete="off" required type="number" id="edad_gestional"  autocomplete="off"  [(ngModel)]="edad_gestional" name="edad_gestional" class="form-control" placeholder="Ingrese la edad gestional" disabled>
                                            </div>
                                        </div><!--/.row-->
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label for="text-input">Menarquia</label>
                                                <input autocomplete="off" required type="text" id="menarquia" class="form-control form-input select-number " autocomplete="off" [(ngModel)]="menarquia" name="menarquia" class="form-control" placeholder="Ingrese la menarquia" disabled>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="text-input">Flujo genital</label>
                                                <input autocomplete="off" required type="text" id="flujo_genital" class="form-control form-input select-number " autocomplete="off" [(ngModel)]="flujo_genital" name="flujo_genital" class="form-control" placeholder="Ingrese el flujo genital" disabled>
                                            </div>
                                        </div><!--/.row-->
                                        <div class="row">
                                            <div class="form-group col-sm-3">
                                                <label for="text-input">Gestas</label>
                                                <input autocomplete="off" required type="text" id="Gestas" class="form-control form-input select-number " autocomplete="off" [(ngModel)]="Gestas" name="Gestas" class="form-control" placeholder="Ingrese el número de gestas" disabled>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label for="text-input">Partos</label>
                                                <input autocomplete="off" required type="text" id="Partos" class="form-control form-input select-number " autocomplete="off" [(ngModel)]="Partos" name="Partos" class="form-control" placeholder="Ingrese el número de partos" disabled>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label for="text-input">Abortos</label>
                                                <input autocomplete="off" required type="number" id="abortos"  autocomplete="off"  [(ngModel)]="abortos" name="abortos" class="form-control" placeholder="Ingrese el número de abortos" disabled>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label for="text-input">Cesareas</label>
                                                <input autocomplete="off" required type="number" id="cesareas"  autocomplete="off"  [(ngModel)]="cesareas" name="cesareas" class="form-control" placeholder="Ingrese el número de cesareas" disabled>
                                            </div>
                                        </div><!--/.row-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-3">
                                        <label>DBT: </label>                        
                                        <input style="width : 70px; text-align: center;" type="text" name="DBT"  [(ngModel)]="DBT" id="DBT" value="DBT" disabled>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>HTA: </label>
                                        <input style="width : 70px; text-align: center;" type="text" name="HTA"  [(ngModel)]="HTA" id="HTA" value="HTA" disabled>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>TBC: </label>
                                        <input style="width : 70px; text-align: center;" type="text" name="TBC"  [(ngModel)]="TBC" id="TBC" value="TBC" disabled>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>GEMELAR: </label>
                                        <input style="width : 70px; text-align: center;" type="text" name="GEMELAR"  [(ngModel)]="GEMELAR" id="GEMELAR" value="1" disabled>
                                    </div>
                                </div><!--/.row-->
                            </form>
                        </div>
                    </div>
              </div>

              <div class="card">

                <div class="card-header">
                    <i class="icon-people"></i>
                        <strong>Antecedentes Patológicos Familiares</strong>
                        <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed3 = !isCollapsed3"
                        [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseBasic"><i
                        class="fa fa-chevron-down"></i>&nbsp;</button>
                </div>

                    <div id="collapseBasic" [collapse]="isCollapsed3" [isAnimated]="true">
                        <div class="card-body">
                          <table class="table table-bordered table-striped table-sm">
                            <thead>
                              <tr>
                                <th>Nombres</th>
                                <th>Union</th>
                                <th>Estado</th>
                                <th>Descripción</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of APF">
                                <td>{{item.nombres}}</td>
                                <td>{{item.union}}</td>
                                <td>
                                    <span *ngIf="item.vida != 1" class="badge badge-danger">Fallecido</span>
                                    <span *ngIf="item.vida != 0" class="badge badge-success">Vivito y Coleando</span></td>
                                <td>{{item.causas}}</td>
                              </tr> 
                            </tbody>
                          </table>
                        </div>
                    </div>
              </div>
           </tab>
            <tab class="modal-body">
              <ng-template tabHeading><i class="icon-book-open"></i> Exámenes</ng-template>
              <div class="card">

                <div class="card-header">
                    <i class="icon-layers"></i>
                        <strong>Examenes Físicos Generales</strong>
                        <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed5 = !isCollapsed5"
                        [attr.aria-expanded]="!isCollapsed5" aria-controls="collapseBasic"><i
                        class="fa fa-chevron-down"></i>&nbsp;</button>
                </div>

                    <div id="collapseBasic" [collapse]="isCollapsed5" [isAnimated]="true">
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Cabeza</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_cabezaT" id="examen_cabezaT" name="examen_cabezaT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div> 
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Cuello</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_cuelloT" id="examen_cuelloT" name="examen_cuelloT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Tórax</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_toraxT" id="examen_toraxT" name="examen_toraxT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Abdomen</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_abdomenT" id="examen_abdomenT" name="examen_abdomenT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Miembros Superiores</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_msuperiorT" id="examen_msuperiorT" name="examen_msuperiorT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Miembros Inferiores</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_minferioresT" id="examen_minferioresT" name="examen_minferioresT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Región Genital</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_genitalT" id="examen_genitalT" name="examen_genitalT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Región Anal</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_analT" id="examen_analT" name="examen_analT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                </div><!--/.row-->

                            </form>
                        </div>
                    </div>
              </div>

              <div class="card">

                <div class="card-header">
                    <i class="icon-docs"></i>
                        <strong>Examenes de Organos y Sistemas</strong>
                        <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed6 = !isCollapsed6"
                        [attr.aria-expanded]="!isCollapsed6" aria-controls="collapseBasic"><i
                        class="fa fa-chevron-down"></i>&nbsp;</button>
                </div>

                    <div id="collapseBasic" [collapse]="isCollapsed6" [isAnimated]="true">
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Sistema Digestivo</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_digestivoT" id="examen_digestivoT" name="examen_digestivoT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Sistema Respiratorio</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_respiratorioT" id="examen_respiratorioT" name="examen_respiratorioT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Sistema Cardíaco</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_cardiacoT" id="examen_cardiacoT" name="examen_cardiacoT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Sistema Genitourinario</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_genitourinarioT" id="examen_genitourinarioT" name="examen_genitourinarioT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Sistema Osteomuscular</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_osteomuscularT" id="examen_osteomuscularT" name="examen_osteomuscularT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="habito" for="inline-radios">Sistema Nervioso</label>

                                        <div >
                                            <textarea autocomplete="off" required [(ngModel)]="examen_nerviosoT" id="examen_nerviosoT" name="examen_nerviosoT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                        </div>
                                    </div>
                                </div><!--/.row-->

                            </form>
                        </div>
                    </div>
              </div>

              <div class="card">

                  <div class="card-header">
                      <i class="icon-note"></i>
                          <strong>Examenes Complementarios</strong>
                          <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed7 = !isCollapsed7"
                          [attr.aria-expanded]="!isCollapsed7" aria-controls="collapseBasic"><i
                          class="fa fa-chevron-down"></i>&nbsp;</button>
                  </div>

                      <div id="collapseBasic" [collapse]="isCollapsed7" [isAnimated]="true">
                          <div class="card-body">
                              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                  <div class="row">
                                      <div class="form-group col-sm-12">
                                          <label class="habito" for="inline-radios">Laboratorio</label>

                                          <div>
                                              <textarea autocomplete="off" required [(ngModel)]="examen_laboratorioT" id="examen_laboratorioT" name="examen_laboratorioT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                          </div>
                                      </div>
                                      <div class="form-group col-sm-12">
                                          <label class="habito" for="inline-radios">Electrocardiograma</label>

                                          <div >
                                              <textarea autocomplete="off" required [(ngModel)]="examen_electrocardiogramaT" id="examen_electrocardiogramaT" name="examen_electrocardiogramaT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                          </div>
                                      </div>
                                      <div class="form-group col-sm-12">
                                          <label class="habito" for="inline-radios">Radiografía de Tórax</label>

                                          <div>
                                              <textarea autocomplete="off" required [(ngModel)]="examen_RToraxT" id="examen_RTorax" name="examen_RToraxT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                          </div>
                                      </div>
                                      <div class="form-group col-sm-12">
                                          <label class="habito" for="inline-radios">Otros Estudios</label>

                                          <div>
                                              <textarea autocomplete="off" required [(ngModel)]="examen_otrosT" id="examen_otrosT" name="examen_otrosT" rows="2" class="form-control" placeholder="Descripción del examen.." disabled></textarea>
                                          </div>
                                      </div>
                                  </div><!--/.row-->

                              </form>
                          </div>
                      </div>
              </div>
            </tab>
          </tabset>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="Principal.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





