.collaps{
    float: right !important;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
tr{
    text-align: center;
  }
.table-titulo{
    text-align: start;
  }
  .habito{
    margin-bottom: 0px;
  }
  .boto{
    float: right;
    margin-bottom: 15px;
  }