.botont{
    padding: 2px 6px !important;
  }
  tr{
    text-align: center;
  }
  .table-titulo{
    text-align: start;
  }

  .searcht{
    float: right !important;
    padding-right: 22px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .collaps{
    float: right !important;
  }
  .sangria{
    padding-left: 10px !important;
  }
  .space{
    padding-left: 30px;
  }
