<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">

            <div class="card">

                    <div class="card-header">
                        <i class="icon-user-follow"></i>
                            <strong>Angendar Cita Médica</strong>
                    </div>

                            <div class="card-body">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                      <div class="row">
                                          <div class=" form-group col-md-6">
                                              <label for="text-input">Nombres</label>
                                              <input  autocomplete="off" required type="text" id="nombres"  [(ngModel)]="nombres" name="nombres" [class]="ClaseCNombre" placeholder="Ingrese los nombres completos" (click)="ClaseCNombre='form-control form-input select-number'">
                                          </div>
                                          <div class=" form-group col-md-6">
                                              <label for="date-input">Fecha de la cita</label>
                                              <input required [class]="ClaseCFecha" (click)="ClaseCFecha='form-control form-input select-number'" id="fecha_consulta" type="date" autocomplete="off"  [(ngModel)]="fecha_consulta" name="fecha_consulta" (change)="Turnos(fecha_consulta)">
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="form-group col-md-6">
                                              <div class="row">
                                                  <div class="form-group col-md-12">
                                                      <label for="text-input">Cédula</label>
                                                      <div class="input-group">
                                                          <input required type="number" id="cedula" [class]="ClaseCdula" (click)="ClaseCdula='form-control form-input select-number'" autocomplete="off" [(ngModel)]="cedula" name="cedula" placeholder="Ingrese la cédula" (focusout)="ValidarCedula(cedula)">
                                                          <span class="input-group-append">
                                                            <button type="button" class="btn btn-primary" (click)="Consultar(cedula)">Consultar</button>
                                                          </span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="form-group col-md-12">
                                                      <label for="text-input">Especialidad</label>
                                                      <select id="especialidad" (change)="LimpiarTurno()" (click)="ClaseCEspecialidad='form-control form-input select-number'" [class]="ClaseCEspecialidad" [(ngModel)]="especialidad" name="especialidad" required>
                                                          <option value="Medicina General">Medicina General</option>
                                                          <option value="Rehabilitacion Fisica">Rehabilitación Física</option>
                                                      </select>
                                                  </div>
                                              </div>


                                          </div>
                                          <div class="form-group col-md-6" >
                                              <label for="date-input"> Hora de la cita </label>
                                              <select  [class]="ClaseCHora" (click)="ClaseCHora='form-control form-input select-number'" size="5" multiple aria-label=" multiple select example" name="idT" [(ngModel)]="idT" id="idT"  required>
                                                <option *ngFor="let item of ArrayTurnos" value="{{item.id}}">{{item.hora}} </option>
                                              </select>
                                          </div>
                                          <div class="form-group col-md-6" >
                                            <div _ngcontent-nko-c102="" class="col-md-12 col-form-label">
                                              <div _ngcontent-nko-c102="" class="form-check form-check-inline mr-1">
                                                  <input _ngcontent-nko-c102="" autocomplete="off" type="checkbox" name="abono" id="abono" value="false" [(ngModel)]="abono" class="form-check-input ng-untouched ng-pristine ng-valid" ng-reflect-name="abono">
                                                  <label _ngcontent-nko-c102="" for="inlineRadio2" class="form-check-label">Canceló el valor de la Cita Médica</label>
                                              </div>
                                            </div>
                                        </div>
                                      </div>



                                        <button *ngIf="estado==0" type="submit" class="btn btn-lg btn-primary boto" (click)="ValidarCita('sample')" >Agendar Cita</button>
                                        <button *ngIf="estado==1" type="submit" class="btn btn-lg btn-primary boto" (click)="ActualizarCita()" >Reagendar Cita</button>
                                </form>
                            </div>


            </div>

        </div>

    </div><!--/.row-->

  </div>

  <div *ngIf="spinnerConfig['fullScreen']">
    <ngx-spinner name='sample' [bdColor]="spinnerConfig['bdColor']" [size]="spinnerConfig['size']"
      [color]="spinnerConfig['color']" [type]="spinnerConfig['type']" [template]="spinnerConfig['template']"
      [showSpinner]="spinnerConfig['showSpinner']">
      <p style="color: white">{{loadingText}}</p>
    </ngx-spinner>

  </div>

