<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-clock-o"></i>
         Crear Turno

          <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed1 = !isCollapsed1"
            [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseBasic"><i
              class="fa fa-chevron-down"></i>&nbsp;</button>
        </div>

        <div id="collapseBasic" [collapse]="isCollapsed1" [isAnimated]="true">

          <div class="card-body">
            <div class="form-group">
              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row">
                  <div class=" form-group col-md-6">
                    <label for="text-input">Hora</label>
                    <input autocomplete="off" required type="time" id="hora" [(ngModel)]="hora" name="hora"
                      [class]="ClaseHora" placeholder="Ingrese los nombres completos"
                      (click)="ClaseHora='form-control form-input select-number'">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="text-input">Especialidad</label>
                    <select id="especialidad"  (click)="ClaseCEspecialidad='form-control form-input select-number'" [class]="ClaseCEspecialidad" [(ngModel)]="especialidad" name="especialidad" required>
                        <option  *ngFor="let item of Comboespecialidad" value="{{item.id_rol}}">{{item.rol}}</option>
                    </select>
                  </div>

                </div>

                <button *ngIf="estado==0" type="submit" class="btn btn-lg btn-primary boto"
                  (click)="CrearTurno('sample')">Crear Turno</button>
                <button *ngIf="estado==1" type="submit" class="btn btn-lg btn-primary boto"
                  (click)="ActualizarTurno()">Editar Turno</button>
              </form>
            </div>
          </div>



        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-clone"></i> Turnos Registrados

          <button type="button" class="btn btn-ghost collaps botont" (click)="isCollapsed2 = !isCollapsed2"
            [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic"><i
              class="fa fa-chevron-down"></i>&nbsp;</button>
        </div>

        <div id="collapseBasic" [collapse]="isCollapsed2" [isAnimated]="true">

          <div class="form-group">
            <div class="col-md-4 searcht">
              <label for="name">Buscar por Hora</label>
              <div class="input-group">
                <input type="text" id="search" name="search" class="form-control" placeholder="Escriba la cédula.."
                  [(ngModel)]="search" (ngModelChange)="dataPaginate($event)">
                <span class="input-group-prepend">   <button type="button" class="btn btn-primary" (click)="buscar()"><i class="fa fa-search"></i>
                    Buscar</button>
                </span>

              </div>
            </div>

          </div>


          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Hora</th>
                  <th>Especialidad</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="search == null; else filtroMG">
                  <tr *ngFor="let item of turnosPaginate">
                    <td>{{item.hora}}</td>
                    <td >{{item.rroles.rol}}</td>
                    <td>
                      <button type="button" class="btn btn-ghost-info botont" (click)="cargarEditar(item.id_turno)"><i
                          class="fa fa-pencil-square-o"></i>&nbsp;Editar</button>
                      <button type="button" class="btn btn-ghost-danger botont" (click)="notificacion(item.id_turno)"><i
                          class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                  </tr>
                </ng-container>

                <ng-template #filtroMG>
                  <tr *ngFor="let item of turnosPaginateFilter">
                    <td>{{item.hora}}</td>
                    <td >{{item.rroles.rol}}</td>
                    <td>
                      <button type="button" class="btn btn-ghost-info botont" (click)="cargarEditar(item.id_turno)"><i
                          class="fa fa-pencil-square-o" ></i>&nbsp;Editar</button>
                      <button type="button" class="btn btn-ghost-danger botont" (click)="notificacion(item.id_turno)"><i
                          class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
            <nav>
              <pagination *ngIf="search==null" [totalItems]="turnos.length" (pageChanged)="pageChanged($event)">
              </pagination>
              <pagination *ngIf="search!=null" [totalItems]="turnosFilter.length"
                (pageChanged)="pageChangedFiltro($event)"></pagination>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

</div>

<div *ngIf="spinnerConfig['fullScreen']">
  <ngx-spinner name='sample' [bdColor]="spinnerConfig['bdColor']" [size]="spinnerConfig['size']"
    [color]="spinnerConfig['color']" [type]="spinnerConfig['type']" [template]="spinnerConfig['template']"
    [showSpinner]="spinnerConfig['showSpinner']">
    <p style="color: white">{{loadingText}}</p>
  </ngx-spinner>

</div>
