.boto{
  float: right;
  margin-bottom: 15px;
}

tr{
  text-align: center;
}
.table-titulo{
  text-align: start;
}

.searcht{
  float: right !important;
  padding-right: 22px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.collaps{
  float: right !important;
}
.sangria{
  padding-left: 10px !important;
}
.space{
  padding-left: 30px;
}

.principal{
  margin-top: 10px;
}
.cuarto-w{
  background-color: #ac5145 !important;
}

input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  input[type="number"] {
      -moz-appearance: textfield;
  }
  .widget{
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
  }
  .brand-card{
    height: 100px;
  }
  .text-value{
    font-size: 15px;
  }
  .brand-card-body{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .iconosf{
    font-size: 1.4rem;
  }
