<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">

            <div class="card">

                    <div class="card-header">
                        <i class="icon-user-follow"></i>
                            <strong>Datos de la consulta</strong>
                    </div>

                            <div class="card-body">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="text-input">Nombres</label>
                                            <input  autocomplete="off" required type="text" id="nombres"  disabled [(ngModel)]="nombres" name="nombres" class="form-control" placeholder="Ingrese los nombres completos">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="text-input">Ocupación</label>
                                            <input required type="text" id="text-input"  autocomplete="off" disabled [(ngModel)]="ocupacion" name="ocupacion" class="form-control" placeholder="Ingrese la ocupación">
                                        </div>
                                        <div class="form-group col-sm-2">
                                            <label for="text-input">Edad</label>
                                            <input required type="text" id="edad"  autocomplete="off" disabled [(ngModel)]="edad" name="edad" class="form-control" placeholder="Ingrese la edad">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="inline-radios" [class]="ClaseLugar">Lugar de atención</label>
                                                <div class="col-md-8 col-form-label">
                                                    <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio" name="lugar_atencion" (click)="ClaseLugar=''" [(ngModel)]="lugar_atencion" id="lugar_atencion" value="Patronato">
                                                    <label class="form-check-label" for="inlineRadio1">Patronato</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio" name="lugar_atencion" (click)="ClaseLugar=''" [(ngModel)]="lugar_atencion" id="lugar_atencion" value="Domicilio">
                                                    <label class="form-check-label" for="inlineRadio3">Domicilio</label>
                                                    </div>
                                                </div>
                                        </div>
                                      </div><!--/.row-->
                                      <div class="row">
                                        <div class="form-group col-sm-12">
                                            <label for="text-input">Motivo de la consulta</label>
                                            <textarea autocomplete="off" required  [(ngModel)]="motivo_consultaT" id="motivo_consultaT" name="motivo_consultaT" rows="3" [class]="ClaseMotivoC" (click)="ClaseMotivoC='form-control'" placeholder="Descripción del motivo de la consulta.."></textarea>
                                        </div>
                                        </div><!--/.row-->

                                        <div class="row">

                                          <div class="form-group col-sm-12">
                                            <label for="company" [class]="ClaseDiagnostico" >Diagnóstico</label>
                                            <div class="input-group">
                                              <div class="form-control auto">
                                                <ng-autocomplete
                                                  [data]="data"
                                                  [searchKeyword]="enferme"
                                                  placeholder="Escriba el diagnóstico.."
                                                  (selected)='selectEvent($event)'
                                                  (inputChanged)='onChangeSearch($event)'
                                                  [itemTemplate]="itemTemplate"
                                                  [notFoundTemplate]="notFoundTemplate"
                                                  paramName="valor"
                                                   payloadPropName="valor"
                                                   name="NuevaEnfermedad"
                                                   [(ngModel)]="NuevaEnfermedad"
                                                  >
                                                </ng-autocomplete>

                                                <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item.name"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="salida"></div>
                                                </ng-template>
                                              </div>
                                              <button type="submit" class="btn btn-lg btn-outline-info btex" (click)="IngresarEnfermedad()" ><i class="fa fa-heartbeat spa"></i>Agregar diagnóstico</button>
                                            </div>

                                          </div>


                                        </div>

                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="text-input">Anamnesis</label>
                                                <textarea autocomplete="off" required  [(ngModel)]="anamnesisT" id="anamnesisT" name="anamnesisT" rows="3" [class]="ClaseAnammesi" (click)="ClaseAnammesi='form-control'" placeholder="Descripción de la anamnesis.."></textarea>
                                            </div>
                                        </div><!--/.row-->
                                        <div class="form-group">
                                          <label for="vat">Receta</label>
                                             <textarea  id="receta" name="receta" rows="3" [(ngModel)]="receta" [class]="ClaseReceta" (click)="ClaseReceta='form-control'" placeholder="Escriba la receta para el paciente.." required></textarea>
                                        </div>

                                        <div class="form-group ">
                                          <label for="vat">Indicaciones de la Receta</label>
                                             <textarea  id="indicaciones" name="indicaciones" [(ngModel)]="indicaciones" rows="3" [class]="ClaseIndicaciones" (click)="ClaseIndicaciones='form-control form-input'" placeholder="Escriba las indicaciones.." required></textarea>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="inline-radios" [class]="ClaseTratamiento">Tratamiento</label>
                                                <div class="col-md-12 col-form-label">
                                                    <div class="form-check form-check-inline mr-5">
                                                        <input class="form-check-input" type="checkbox" (click)="ClaseTratamiento=''" [(ngModel)]="estimulacion_temprana" id="estimulacion_temprana" name="estimulacion_temprana" value="1">
                                                        <label class="form-check-label" for="inline-checkbox1">Estimulación temprana</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mr-5">
                                                        <input class="form-check-input" type="checkbox" (click)="ClaseTratamiento=''" [(ngModel)]="magnetoterapia" id="magnetoterapia" name="magnetoterapia" value="1">
                                                        <label class="form-check-label" for="inline-checkbox2">Magnetoterapia</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mr-5">
                                                        <input class="form-check-input" type="checkbox" (click)="ClaseTratamiento=''" [(ngModel)]="electroestimulacion" id="electroestimulacion" name="electroestimulacion" value="1">
                                                        <label class="form-check-label" for="inline-checkbox3">Electroestimulación</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mr-5">
                                                        <input class="form-check-input" type="checkbox" (click)="ClaseTratamiento=''" [(ngModel)]="ultrasonido" id="ultrasonido" name="ultrasonido" value="1">
                                                        <label class="form-check-label" for="inline-checkbox3">Ultrasonido</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mr-5">
                                                        <input class="form-check-input" type="checkbox" (click)="ClaseTratamiento=''" [(ngModel)]="CQC_OH" id="CQC_OH" name="CQC_OH" value="1">
                                                        <label class="form-check-label" for="inline-checkbox3">C.Q.C. O H.</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mr-5">
                                                          <input class="form-check-input" type="checkbox" (click)="ClaseTratamiento=''" [(ngModel)]="masaje" id="masaje" name="masaje" value="1">
                                                          <label class="form-check-label" for="inline-checkbox3">Masaje</label>
                                                      </div>
                                                      <div class="form-check form-check-inline mr-5">
                                                          <input class="form-check-input" type="checkbox" (click)="ClaseTratamiento=''" [(ngModel)]="ejercicios_PR" id="ejercicios_PR" name="ejercicios_PR" value="1">
                                                          <label class="form-check-label" for="inline-checkbox3">Ejercicios pasivos y resistidos</label>
                                                      </div>
                                                      <div class="form-check form-check-inline mr-5">
                                                          <input class="form-check-input" type="checkbox" (click)="ClaseTratamiento=''" [(ngModel)]="laser" id="laser" name="laser" value="1">
                                                          <label class="form-check-label" for="inline-checkbox3">Láser</label>
                                                      </div>
                                                      <div class="form-check form-check-inline mr-5">
                                                          <input class="form-check-input" type="checkbox" (click)="ClaseTratamiento=''" [(ngModel)]="otros" id="otros" name="otros" value="1">
                                                          <label class="form-check-label" for="inline-checkbox3">Otros</label>
                                                      </div>
                                                </div>

                                            </div>
                                            <div  *ngIf="otros==true" class="form-group col-sm-12">
                                                <textarea autocomplete="off" required  [(ngModel)]="otrosT" id="otrosT" (click)="ClaseTratamiento=''" name="otrosT" rows="3" [class]="ClaseOtrosT" (click)="ClaseOtrosT='form-control'" placeholder="Descripción del tratamiento.."></textarea>
                                            </div>
                                        </div><!--/.row-->
                                        <div class="form-group ">
                                            <div class="col-md-9 col-form-label">
                                              <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" [(ngModel)]="certificado" type="checkbox" id="certificado" name="certificado" value="1">
                                                <label class="form-check-label" for="inline-checkbox1">Se entregó certificado</label>
                                              </div>
                                            </div>
                                          </div>
                                        <button type="submit" class="btn btn-lg btn-primary boto" (click)="ValidarVacios()">Registrar Consulta</button>
                                        <button type="submit" *ngIf="receta !='' && indicaciones !=''" class="btn btn-lg btn-success boto" (click)="AbrirModal()">Generar Receta</button>

                                </form>
                            </div>

            </div>

        </div>

    </div><!--/.row-->

</div>


<div *ngIf="spinnerConfig['fullScreen']">
    <ngx-spinner name='sample' [bdColor]="spinnerConfig['bdColor']" [size]="spinnerConfig['size']"
      [color]="spinnerConfig['color']" [type]="spinnerConfig['type']" [template]="spinnerConfig['template']"
      [showSpinner]="spinnerConfig['showSpinner']">
      <p style="color: white">{{loadingText}}</p>
    </ngx-spinner>
  </div>

  <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Receta Médica</h4>
          <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-sm-12">
              <div class="form-group">
                <label for="vat">Nombres</label>
                  <input [class]="ClaseNombre" (click)="ClaseNombre='form-control form-input'"  type="text" name="nombresR"   [(ngModel)]="nombresR" id="nombresR">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
              <div class="form-group">
                <label for="vat">Peso</label>
                  <input  class="form-control" type="text" name="pesoR" placeholder="Kg"  [(ngModel)]="pesoR" id="pesoR">
              </div>
            </div>
            <div class="form-group col-sm-3">
              <div class="form-group">
                <label for="vat">Talla</label>
                  <input  class="form-control" type="text" name="tallaR"  placeholder="m" [(ngModel)]="tallaR" id="tallaR">
              </div>
            </div>
            <div class="form-group col-sm-3">
              <div class="form-group">
                <label for="vat">T.A</label>
                  <input  class="form-control" type="text" name="taR" placeholder="T.A"  [(ngModel)]="taR" id="taR">
              </div>
            </div>
            <div class="form-group col-sm-3">
              <div class="form-group">
                <label for="vat">Edad</label>
                  <input  class="form-control" disabled type="text" name="edad"   [(ngModel)]="edad" id="edadRe">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
                <label for="vat">Fecha</label>
                <input  class="form-control" type="text" disabled name="fechaR"   [(ngModel)]="fechaR" id="fechaR">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
                <label for="vat">Rp.</label>
                <textarea  id="plan_terapeutico" name="plan_terapeutico" [(ngModel)]="receta" rows="3" [class]="ClaseReceta" (click)="ClaseReceta='form-control form-input'" placeholder="Escriba la receta..." required></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
                <label for="vat">Prescripción</label>
                <textarea  id="indicaciones" name="indicaciones" [(ngModel)]="indicaciones" rows="3" [class]="ClaseIndicaciones" (click)="ClaseIndicaciones='form-control form-input'" required></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Cerrar</button>
          <button type="button" class="btn btn-success" *ngIf="receta !='' && indicaciones !=''" (click)="GenerarReceta()">Generar Receta</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
