<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Combined All Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Nombres</th>
                <th>Cédula</th>
                <th>Hora</th>
                <th>Historial</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-titulo">Vishnu Serghei</td>
                <td>130345678</td>
                <td>12:00</td>
                <td>

                  <span class="badge badge-success">Active</span>
                </td>
                <td>
                  <button type="button" class="btn btn-ghost-info botont"><i class="fa fa-stethoscope"></i>&nbsp;Atender</button>
                  <button type="button" class="btn btn-ghost-success botont"><i class="fa fa-eye"></i>&nbsp;Consultas</button>
                  <button type="button" class="btn btn-ghost-danger botont"><i class="fa fa-trash-o"></i>&nbsp;Eliminar</button>

                </td>
              </tr>
              <tr>
                <td class="table-titulo">Zbyněk Phoibos</td>
                <td>130345678</td>
                <td>12:30</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
                <td>
                  <button type="button" class="btn btn-ghost-info botont"><i class="fa fa-stethoscope"></i>&nbsp;Atender</button>
                  <button type="button" class="btn btn-ghost-success botont"><i class="fa fa-eye"></i>&nbsp;Consultas</button>
                  <button type="button" class="btn btn-ghost-danger botont"><i class="fa fa-trash-o"></i>&nbsp;Eliminar</button>

                </td>
              </tr>
              <tr>
                <td class="table-titulo">Einar Randall</td>
                <td>130345678</td>
                <td>02:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
                <td>
                  <button type="button" class="btn btn-ghost-info botont"><i class="fa fa-stethoscope"></i>&nbsp;Atender</button>
                  <button type="button" class="btn btn-ghost-success botont"><i class="fa fa-eye"></i>&nbsp;Consultas</button>
                  <button type="button" class="btn btn-ghost-danger botont"><i class="fa fa-trash-o"></i>&nbsp;Eliminar</button>

                </td>
              </tr>
              <tr>
                <td class="table-titulo">Félixito Alwexander Penarrieta Zambrano</td>
                <td>130345678</td>
                <td>02:30</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
                <td>
                  <button type="button" class="btn btn-ghost-info botont"><i class="fa fa-stethoscope"></i>&nbsp;Atender</button>
                  <button type="button" class="btn btn-ghost-success botont"><i class="fa fa-eye"></i>&nbsp;Consultas</button>
                  <button type="button" class="btn btn-ghost-danger botont"><i class="fa fa-trash-o"></i>&nbsp;Eliminar</button>

                </td>
              </tr>

            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

</div>

